<launch>

    <!--<param name="robot_description" textfile="$(find robot_description)/robots/robot.urdf" />-->

    <param name="robot_description"
       command="$(find xacro)/xacro '$(find diff_drive_controller)/test/diffbot.xacro' --inorder" />

    <!--<rosparam command="load" file="$(find robot_description)/param/diffbot_controllers.yaml" />-->
    <rosparam command="load" file="$(find diff_drive_controller)/test/diffbot_controllers.yaml" />

    <node name="diffbot" pkg="diff_drive_controller" type="diffbot"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
                args="diffbot_controller" />

</launch>
